.newTaskForm {
  height: 54px;
  bottom: -27px;
  width: 100%;
  max-width: 736px;
  display: flex;
  gap: 8px;
  padding: 0 1rem;
  margin-bottom: 20px;
}

.newTaskForm input {
  height: 100%;
  flex: 1;
  color: black;
  background: #c0bebe;
  border: 1px solid #0d0d0d;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 16px;
}

.newTaskForm input::placeholder {
  color: #808080;
}

.newTaskForm button {
  height: 100%;
  padding: 0 16px;
  background: #1e6f9f;
  color: #fff;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
}

.tasks {
  width: 100%;
  background-color: rgb(216, 214, 214);
  border: 1px solid black;
  border-radius: 10px;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 20px 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header p {
  color: black;
  font-size: 14px;
  font-weight: 700;
}

.textPurple {
  color: black !important;
}

.header span {
  background: #333333;
  color: #d9d9d9;
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.date {
  text-align: center;
  margin-bottom: 10px;
  color: black;
}
