.header {
  background-image: radial-gradient(
    circle 674px at 18.3% 77%,
    rgb(79, 106, 139) 3.4%,
    rgba(15, 51, 92, 1) 56.6%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.logo {
  width: 100px;
  height: auto;
  margin-left: 20px;
}
